html, body {
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    background: #000;
}
ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    color: #fff;
}
ul li:hover {
    background: rgb(182, 22, 22);
    color:blanchedalmond;
    font-weight:bold;
    text-emphasis-color: white;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: black;
    text-align:right;
    box-sizing:border-box;
    color:#fff;
    font-size:30px;
    display:none;
}
@media(max-width:575px){
    .toggle{
        display:block;
    }
    ul{
        width:100%;
        display:none;
    }
    ul li{
        display:block;
        text-align:center;
    }
    .active{
        display:block;
    }
}

.imageblock {
    width: 46%;
    max-width: 100%;
    height: auto;
}

.map {
    width: 480px;
    height: auto;
}

.fbpage {
    width: auto;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

@media(max-width:575px){
    img{
        width:369px;
        height:139px;
    }
}

.navbar {
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5%;
    font-size: 8px;
    border: none;
    max-height: 100px;
    position: relative;
    display: flex;
}

.navitem {
    background-color: black;
    color: whitesmoke;
    padding: 8px;
    font-size: 30px;
    border: none;
    display:flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navitem a {
    background-color: black;
    color: whitesmoke;
    padding: 8px;
    font-size: 30px;
    border: none;
    display: inline-block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navitem:hover {
    background-color: black;
    z-index: 1;
}

.navitem a:hover {
    background-color:white;
    font-weight: bolder;
    color:black;
}